.container{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 7rem;
    padding: 5rem;
    background-color: #FAFAFA;
    min-height:100vh;
}
.cstmblack{
background-color: #202D36;
color: white;
}

.card{
    width: 20rem;
    height: 27rem;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 1rem;
    box-shadow: 0 0 5px #E0EFF1;
    
  }
  .imageContainer{
    height: 50%;
  }
  .imageContainer img{
    width: 100%;
    height: 100%;
    border-radius: 5px 5px 0 0;

  }
  .cardDetails{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    height:50%;
    padding-bottom: 2rem;
    padding-left: 2rem;
  }
 
  a{
    color:black;
  }
  
  