.countrydiv{
    width: 100vw;
    padding-left:6rem;
    padding-top: 3rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 5rem;
    /* background-color: #FAFAFA; */
}
.countrycard{
    display: flex;
    gap: 15rem;
    height: 30rem;
}
img{
    width: 40rem;
}
.countrydetails{
    padding-top: 3rem;
    height: 30rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
h1{
    font-size:xx-large;
}
.details{
    display: flex;
    gap: 10rem;
}
.row{
    display: flex;
    gap: 3rem;
    align-items: center;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

button{
    box-shadow: 1px 1px 2px black;
    /* background-color: #FFFFFF; */
}
.cstblack{
    background-color: #2B3743;
    color: white;
    }
.gap{
    display: flex;
    gap: 1rem;
}
