.searchBox{
    box-sizing: border-box;
    width: 100%;
    font-weight: 800;
    padding-left: 5rem;
    padding-right: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FAFAFA;
  }
  .searchBox input{
    border: none;
    height: 3rem;
    width: 35vw;
    border-radius: 10px;
    font-size: medium;
    
  }
  .searchBox select{
    width: 10vw;
    height: 3rem;
    font-size: medium;
    font-weight: 550;
    border-radius: 10px;
    border: none;
  }
  .cstmblack{
    background-color: #202D36;
    color: white;
  }
  