.header{
    display: flex;
    width: 100%;
    background-color: #FFFFFF;
    justify-content: space-between;
    height: 5rem;
    align-items: center;
    padding-left: 5rem;
    padding-right: 5rem;
}
.black{
    background-color: #2B3743;
    color: #FFFFFF;
  }